body {
    position: relative;
    width: 27.2cm; /*21cm* x 29.7cm*/
    height: 21cm;
    margin: 0 auto;
    color: #000;
    background: #FFFFFF;
    font-size: 12pt;
}
#logo #cie {
    width: 100px;
}
#logo #depan{
    width: 45px;
}
#title{
    text-align: center;
    color: #054d0f;
    text-transform: uppercase;
}
footer {
    color: #000;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    font-size: 8pt;
    text-align: center;
}
p{
    padding: 0;
    margin: 0;
}
table {
    width: 100%;
    /*border-collapse: collapse; */
    border-spacing: 2px;
    margin-bottom: 20px;
}
table tr th{
    border-bottom: 3px solid #06662A;
    font-size: 10pt;
    font-weight: bold;
    padding: 0 0 5px 0;
}
table tbody tr:last-child{

}
table th,
table td {
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}
table th {
    white-space: nowrap;
    font-weight: normal;
}
table td {
    text-align: left;
}
table tbody tr{
    margin: 0;
    padding: 0;
}

table tbody tr td{
    margin: 0;
    padding: 5px 0;
    color: #3d3d3d;
    border-bottom: 1px solid #a5a5a5;
}
table tbody{
    /*border-bottom: 1px solid #a5a5a5;*/
}
.center{
    text-align: center;
}